#box1, #box2, #box3{
    display: inline-block;
    padding: 25px;
    height: 100px;
    width: 100px;
    margin: 10px;
}

#box1 {
    background-color: blue ;
    color: aliceblue;
    text-align: center;
}

#box2 {
        background-color:aquamarine ;
        text-align: center;
}
#box3 {
    background-color: chartreuse;
    text-align: center;
} 