/* Background color:-Dark black */
body {
  background-color: black;
  color: aliceblue;
}

/* Company logo */
#company_logo {
  font-size: 25px;
  color: rgb(234, 131, 5);
  font-weight: bold;
}

/* navbar */
.nav_main {
  display: flex;
  height: 60px;
}

/* Account, my cart, contact us etc. */
.mlist {
  list-style-type: none;
  display: flex;
}
.list {
  margin-left: 200px;
  margin-right: 200px;
}
