/* Background color:-Dark black */
body {
  background-color: black;
  color: aliceblue;
  margin: 0;
  font-family: 'Times New Roman', Times, serif;
}

/* Company logo */
#company_logo {
  font-size: 25px;
  color: rgb(234, 131, 5);
  font-weight: bold;
  cursor: pointer;
}

/* navbar */
.nav_main {
  display: flex;
  align-items: center;
  height: 60px;
}

/* Account, my cart, contact us etc. */
.mlist {
  list-style-type: none;
  display: flex;
}
.list {
  margin-left: 200px;
  margin-right: 200px;
  padding: 0;
}
/* search button */
#search_button{
  background-color: rgb(239, 135, 7);
}